@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.notebooks {
  height: 350px;
  width: 200px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-family: sans-serif;
  display: flex;
  /* flex-direction: row; */
  font-size: 15px;
  border: 1px solid black;
  text-align: center;
  background-color: #fffbe7;
  margin-top: 10px;
  /* box-shadow: 10px 20px 10px #f3bfbf; */
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll;
  justify-content: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
  /* overflow: scroll; */
}

.notebooks:hover {
  box-shadow: 5px 5px 5px black;
  transform: translateY(5px);
}

.notebooks:hover,
.notebooks:focus,
.notebooks:active {
  transform: scale(1.1);
  background-color: #fef5c1;
}

/* .notebook__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.notebook {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.notebook:hover {
  box-shadow: 10px 10px 10px black;
  transform: translateY(10px);
}

.notebook:hover,
.notebook:focus,
.notebook:active {
  transform: scale(1.1);
}

.notebookForm {
  background-color: #fffbe7;
  height: 350px;
  width: 200px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-family: sans-serif;
  display: flex;
  font-size: 15px;
  border: 1px solid black;
  text-align: center;
  margin-top: 5rem;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  margin-left: 45rem;
}

button {
  background-color: #f0483e;
  color: white;
  background: #da3e3e;
  border-radius: 10px;
  /* box-shadow: 10px 20px 10px #f3bfbf; */
  cursor: pointer;
  /* font: inherit; */
  padding: 12px 20px;
  transition: all 0.1s linear;
  width: 10rem;
  /* display: flex; */
  justify-content: center;
  margin-top: 1rem;
  text-decoration: none;
  align-items: center;
  font-size: larger;
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
}

button:hover {
  box-shadow: 5px 5px 5px black;
  transform: translateY(5px);
}

button:hover,
button:focus,
button:active {
  transform: scale(1.1);
}

.notebook__title {
  text-align: center;
  justify-content: center;
  /* height: 240px; */
  width: 100%;
  box-shadow: 5px 5px 5px 5px #f3bfbf;
  border-radius: 10px;
  padding: 5px;
  /* background-color: #f0483e; */
}

Link {
  text-decoration: none;
}

.notebook__create {
  background-color: #fffbe7;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
}

.notebook__searchbar {
  display: flex;
  padding: 1rem;
  /* margin-left: 2rem; */
}

.notebooks__header {
  font-size: 2rem;
}

.add__notebook__card {
  height: 350px;
  width: 200px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: flex;
  font-size: 15px;
  border: 1px solid black;
  text-align: center;
  background-color: #fffbe7;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.add__card {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
}

.create {
  padding-left: 2.5rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

/* .icon:hover {
  transform: translateY(5px);
} */

.icon:hover,
.icon:focus,
.icon:active {
  transform: scale(1.2);
}

.add__notebook__card:hover,
.add__notebook__card:focus,
.add__notebook__card:active {
  transform: scale(1.1);
  background-color: #fef5c1;
}

.icon__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.search {
  flex-basis: 40%;
  padding: 1rem;
}

.input--wide {
  width: 100%;
}

.unlike-btn {
  background-color: #f7dc6f;
  color: black;
  font-weight: bold;
}
