/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
.notes {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  border: 2px solid black;
  text-align: center;
  /* background-color: white; */
  overflow: scroll;
  background-color: #fffbe7;
  font-family: "Source Sans Pro", sans-serif;
}

.note__list {
  display: flex;
  justify-content: space-between;
}

.notebook {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.notes:hover {
  box-shadow: 5px 5px 5px black;
  transform: translateY(5px);
}

.notes:hover,
.notes:focus,
.notes:active {
  transform: scale(1.1);
  /* background-color: #fef5c1; */
  background-color: #fef5c1;
}

.note__buttons {
  display: flex;
}

.create__note__btn {
  margin-left: 2rem;
}

.back__btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 20px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
  border-radius: 20px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f0483e;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border-radius: 20px;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  border-radius: 20px;
}

/* .search {
  width: 60%;
} */

.note__searchbar {
  width: 35rem;
}

.note__create {
  background-color: #fffbe7;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
}

.noteForm {
  background-color: #fffbe7;
  height: 450px;
  width: 250px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-family: sans-serif;
  display: flex;
  font-size: 15px;
  border: 1px solid black;
  text-align: center;
  margin-top: 5rem;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  margin-left: 45rem;
}
