/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
.notes {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border: 2px solid black;
  text-align: center;
  /* background-color: white; */
  overflow: scroll;
  background-color: #fffbe7;
  font-family: "Source Sans Pro", sans-serif;
}

.note__list {
  display: flex;
  justify-content: space-between;
}

.notebook {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.notes:hover {
  box-shadow: 5px 5px 5px black;
  transform: translateY(5px);
}

.notes:hover,
.notes:focus,
.notes:active {
  transform: scale(1.1);
  /* background-color: #fef5c1; */
  background-color: #fef5c1;
}

.note__buttons {
  display: flex;
}
