.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fef5c1;
  text-decoration: none;
  left: 0;
  height: 2rem;
  margin-top: 1rem;

  padding: 2rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}

.footer__item {
  flex-basis: 20%;
  list-style-type: none;
  text-decoration: none;
}

.footers__link {
  text-decoration: none;
}

.footer__link {
  font-size: 1rem;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
