.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  background-color: #fef5c1;
  padding: 2.5rem;
  width: 97%;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  color: black;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.navbar__link {
  text-decoration: none;
  font-size: 30px;
  list-style-type: none;
  color: black;
}

.d-block {
  height: 30rem;
}

/* .title {
  background-color: #f0483e;
  font-weight: bolder;
  border-radius: 20px;
  color: white;
  width: 300px;
  font-size: 30px;
} */
